.bg-violet-550 {
    background-color: rgb(132,75,242);
}

.switch-foreground {
    left: 0;
    right: 0;
}

.switch-background {
    left: 0;
    right: 0;
}

button {
    -webkit-tap-highlight-color: transparent;
}