input {
    -webkit-tap-highlight-color: transparent;
}

div.fill-screen {
    min-height: 85vh;
}

.bg-violet-550 {
    background-color: rgb(132,75,242);
}

.switch-foreground {
    width: 11rem;
}

.switch-background {
    width: 24rem;
}